node_modules
.docker
.local
.vscode
.git
*.map
/test
/temp
/dist
.dockerignore
.gitignore
.npmrc
.prettierignore
Jenkinsfile
package.json
package-lock.json
yarn.lock
/node_modules
/test
/output
/temp
/test-*
/log

license
*.js
*.yaml
*.hbs
*.txt
/html